/******************APP*****************/
html{
  --palesilver: #292828;
  --timberwolf: #CDD6D0;
  --tumbleweed: #D6A99A;
  --flame: #E16036;
  --vermillion: #E3170A;
}

.App{
background-color: var(--palesilver);
text-align: center;
color: white;
font-family: sans-serif;
}

/****************SEARCHBARS***********/
.form-control{
  margin: auto !important;
  width: 50% !important;
  align-content: center;
}
.form-control:focus{
  border: var(--timberwolf) solid .25rem !important; 
  box-shadow: none !important; 
  -webkit-box-shadow: none !important;
}
/****************ListItems************/
li{
  list-style: none;
  font-size:1.25rem;
  margin: auto;
  width: 50%;
}
ul{
  margin: 0 !important;
  padding-left: 0 !important;
}
button{
  margin-left: 1rem !important;
  margin-top: .5rem !important;
  font-size: .75rem !important;
  box-shadow: none !important;
  border: white solid .1rem;
  border-radius: .25rem !important;
  color:var(--palesilver);
}
button {
  transition-duration: 0.4s !important;
}

button:hover {
  background-color: var(--palesilver) !important;
  color: white !important;
}